.hidden {
    display: none;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

input {
    color: white;
    font-size: 4vh;
    text-align: center;
}

#login-form {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#login-form input {
    background-color: rgba(0, 0, 0, 0);
    padding: 1vh;
    width: 20vw;
    border: none;
    border-bottom: 0.2vh solid white;
    outline: none;
}

#login-form input::placeholder {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4vh;
}

#login-form input:focus::placeholder {
    color: transparent;
}

#weather {
    position: fixed;
    top: 2vh;
    left: 89vw;
    font-size: 3vh;
    text-align: end;
}

#clock {
    font-size: 16vh;
    position: absolute;
    text-align: center;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -30%);
}

#greeting {
    font-size: 10vh;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#todo-form {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#todo-form input {
    background-color: rgba(0, 0, 0, 0);
    padding: 1vh;
    width: 25vw;
    border: none;
    border-bottom: 0.2vh solid white;
    outline: none;
}

#todo-form input::placeholder {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4vh;
}

#todo-form input:focus::placeholder {
    color: transparent;
}

#todo-list {
    position: fixed;
    top: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border: none;
    font-size: 3vh;
}

#todo-list li::marker {
    list-style: none;
}

.todo-button {
    border: 0px;
    background-color: transparent;
}

#quote {
    font-size: 3vh;
    position: absolute;
    text-align: center;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}